section.repository-list{
  margin:40px;

h1{
  color:#000;
  margin-bottom: 16px;
}
ul{
  list-style: none;

  li{
    strong{
      color: #f7f300;
    }
    & + li {
      margin-top:20px
    }
  }
  p{
    font-size:14px;
    color: #252525;
    margin-top:8px;
  }
  a{
    display: inline-block;
    margin-top: 16px;
    text-decoration: none;
    color:#fff;
  }
}
}